@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'flowbite'; */

.date-buttons{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


.mealplan-container h2,
.day-container,
.recipe-card-container,
.add-to-mealplan,
.add-mealplan-header,
.generator-header,
.mealplan-popup,
.clear-button,
.date-buttons,
.recipe-stats,
.recipe-card-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected{
  border: bold orange;
}

.checkbox-custom{
  background-color: white;
}

.checkbox-container{
  display: flex;
}

.user-profile{
  display: table;
  margin-inline: auto;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.date-buttons,
.clear-button {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mealplan{
  padding-right: 5%;
  padding-left: 5%;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.day-container{
  margin-bottom: 0.2rem;
  text-align: center;
}

.prepmaster-logo{
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 4px;
  margin-left: 1%; 
}

.close-popup{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px; 
}

.recipe-info{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px; 
}

.mealplan-container,
.recipe-card-container{
  padding: 1rem;
}
